<img class="profile" src="assets/0.jpg" />
<h2>A propos de moi</h2>
<p>
  Je suis curieux, j'aime résoudre des problèmes et comprendre comment les
  choses fonctionnent. Les domaines de l'informatique et de l'électronique sont
  mes champs de prédilection, mais je m'interesse aussi au autre domaine
  scientifique.
</p>
<p>
  Professionnellement, je suis un développeur logiciel avec une préférence avec le
  code bas niveau. Je souhaite me diriger vers le développent de firmware,
  driver ou kernel. Je suis également intéressé par les questions d'architecture
  logiciel.
</p>
<h2>Contact</h2>
<div class="contacts">
  <div class="contact-element">
    <a href="mailto:contact@thomas-lintanf.fr">contact@thomas-lintanf.fr</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/thomas-lintanf-70b00a188/">Linkedin</a>
  </div>
</div>