:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9EBDC;
}

p {
  margin: .75rem 10%;
  text-align: justify;
}

img.profile {
  width: 50%;
  aspect-ratio: 3/4;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-element {
  margin: .5rem 0;
}